body {
	padding: 0;
	margin: 0px;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo,
		'ＭＳ Ｐゴシック', sans-serif;
	user-select: none;
}

div#main-contents {
	margin: 0 auto;
	max-width: 1300px;
	min-width: 700px;
}

div.cursor {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	position: absolute;
	top: 100px;
	z-index: 1;
	top: 100px;
	z-index: 1;
	background-color: #da2121;
	box-shadow: rgba(255, 141, 141, 0.8) 0px 1px 3px 2px inset,
		rgba(64, 0, 0, 0.8) 0px 0px 2px 1px inset, rgba(224, 18, 18, 0.8) 0px
		0px 2px 15px inset, rgba(0, 0, 0, 0.9) 0px 0px 3px 16px inset,
		rgba(156, 30, 30, 0.9) 1px 2px 14px 12px inset, rgba(35, 0, 0, 0.9)
		2px 2px 2px 4px;
	border: solid 2px #751010;
	pointer-events: none;
	transform: translateZ(100px);
}

div#charSelect {
	display: inline-block;
	background: linear-gradient(-28deg, #4580da, #eab131);
	margin-top: 20px;
}

#charSelect ul {
	font-size: 0;
	text-align: center;
	padding: 20px 10px 0px 0px;
}

#charSelect li {
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	/* float: left; */
	/* margin: 2px; */
	border: 2px solid #000000;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	width: 120px;
	height: 120px;
}

#charSelect li:hover {
	border: 2px solid #da2121;
	box-shadow: rgba(255, 0, 0, 0.8) 0px 0px 0px 4px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 6px inset;
}

li.charBtn.selected {
	border: 2px solid #da2121;
	box-shadow: rgba(255, 0, 0, 0.8) 0px 0px 0px 4px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 6px inset;
}

#charSelect li.charBtn a {
	position: absolute;
	bottom: 0;
	padding-left: 0.5em;
	text-shadow: black 2px 0px 2px, black -2px 0px 2px, black 0px -2px 2px,
		black -2px 0px 2px, black 2px 2px 2px, black -2px 2px 2px, black 2px
		-2px 2px, black -2px -2px 2px, black 1px 2px 2px, black -1px 2px 2px,
		black 1px -2px 2px, black -1px -2px 2px, black 2px 1px 2px, black -2px
		1px 2px, black 2px -1px 2px, black -2px -1px 2px, black 1px 1px 2px,
		black -1px 1px 2px, black 1px -1px 2px, black -1px -1px 2px;
}

div#choiceArea {
	background: linear-gradient(-28deg, #d0ebe3, #3f2b94);
	padding: 15px 0px 0px 0px;
}

div#charBox {
	display: inline-block;
	position: relative;
	border: solid 2px #000000;
	border-top: solid 10px #000000;
	padding: 0px;
	margin: 0px;
	transform-style: preserve-3d;
	transform: perspective(500px);
}

div#charTarget {
	margin-right: -50px;
	width: 300px;
	height: 300px;
	display: inline-block;
	background-color: #b6b5cf;
	vertical-align: bottom;
}

div#charTargetImg {
	background-image: url('');
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;
	vertical-align: bottom;
}

div#charTargetDeco {
	margin-right: -50px;
	width: 200px;
	height: 300px;
	display: inline-block;
	background-color: #f63534;
	-webkit-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
	vertical-align: bottom;
}

div#charTargetDecoCut {
	width: 100px;
	height: 300px;
	display: inline-block;
	background-color: #aa3534;
	vertical-align: bottom;
}

div#charTargetDecoCut span {
	position: relative;
	display: block;
	width: 200px;
	top: 138px;
	left: -118px;
	font-size: 30px;
	font-weight: bold;
	text-shadow: black 2px 0px 2px, black -2px 0px 2px, black 0px -2px 2px,
		black -2px 0px 2px, black 2px 2px 2px, black -2px 2px 2px, black 2px
		-2px 2px, black -2px -2px 2px, black 1px 2px 2px, black -1px 2px 2px,
		black 1px -2px 2px, black -1px -2px 2px, black 2px 1px 2px, black -2px
		1px 2px, black 2px -1px 2px, black -2px -1px 2px, black 1px 1px 2px,
		black -1px 1px 2px, black 1px -1px 2px, black -1px -1px 2px;
	transform: translateZ(100px);
}

div#bossBox {
	position: relative;
	display: inline-block;
	float: right;
	right: 24px;
	width: 364px;
	height: 300px;
	border: solid 2px #000000;
	border-top: solid 10px #000000;
}

div#bossTargetImg {
	display: inline-block;
	position: relative;
	float: left;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: calc(150%);
	background-position: left top;
}

div#bossBox>.prev {
	display: inline-block;
	float: left;
	width: 30px;
	height: 300px;
	border-right: solid 2px #000000;
	line-height: 300px;
	text-align: center;
	font-size: 30px;
	color: #dddddd;
	background-color: #222222;
}

div#bossBox>.prev:hover {
	color: #ffff00;
}

div#bossBox>.next {
	display: inline-block;
	float: left;
	width: 30px;
	height: 300px;
	border-left: solid 2px #000000;
	line-height: 300px;
	text-align: center;
	font-size: 30px;
	color: #dddddd;
	background-color: #222222;
}

div#bossBox>.next:hover {
	color: #ffff00;
}

div#startButton {
	display:none;
	position: relative;
	opacity: 0.8;
	width: 100%;
	height: 100px;
	background: #000000;
	border-top: solid 10px #ff2f00;
	border-bottom: solid 10px #ff2f00;
	margin: 0 auto;
	text-align: center;
	transform: skew(-2deg, -2deg);
	z-index: 1;
	text-align: -webkit-center;
}

div#startButton>span {
	opacity: 1;
	position: relative;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	font-size: 67px;
	width: 1000px;
}

div#startButton:hover {
	color: #ff9900;
	border-top: solid 10px #ff0000;
	border-bottom: solid 10px #ff0000;
}