#analysis {
	display: inline-block;
	width: 100vw;
	min-width: 1200px;
}

.analysis-render-box {
	margin: 1rem 1rem;
	padding: 1rem 1rem;
	border: solid 1px #dddddd;
	border-radius: 5px;
	background-color: white;
	float: left;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 3px;
}

.title {
	clear: both;
}

/* プリコネ日 */
#render-targetDate {
	color: #ffffff;
	background-color: #009688;
}

#render-targetDate>span {
	margin: 0rem 1rem;
}

/* 凸完了数を表示 */
#render-battleSuccessful {
	position: relative;
	width: 320px;
}

#render-battleSuccessful p.priconeDate {
	margin: 0px;
	margin-right: -32px;
	margin-bottom: 0.5rem;
	text-align: left;
	position: relative;
	top: -5px;
	left: -16px;
	width: max-content;
}

#render-battleSuccessful p.priconeDate span {
	font-size: 0.8rem;
	padding: 2px 0.5rem;
	border-bottom: solid 1px #f1f1f1;
}

#render-battleSuccessful>.totuNum {
	display: inline-block;
	width: 300px;
	font-size: 3rem;
	color: #2196F3;
}

#render-battleSuccessful>.totuNum>.text {
	font-size: 2rem;
	color: black;
}

#render-battleSuccessful>.perProgress {
	width: 100%;
	height: 5px;
	background-color: #cfeaff;
}

#render-battleSuccessful>.perProgress>.successful {
	width: 50%;
	height: 5px;
	background-color: #2196F3;
}

#render-battleSuccessful>.perNum {
	display: inline-block;
	margin-top: 1rem;
	width: 300px;
	font-size: 1rem;
	color: #444444;
}

/* 凸チャートを表示 */
#render-battleChart {
	width: 320px;
	/* 	height: 400px; */
}

#render-battleChart>.chart {

}

/* ボスの状態を表示 */
#render-bossState {
	position: relative;
	width: 320px;
}

#render-bossState>.title {
	margin-bottom: 1rem;
}

#render-bossState .nowBossState {
	height: 72px;
	border-bottom: solid 1px #dedede;
	margin-bottom: 1rem;
}

#render-bossState .nowBossState .boss {
	width: 50px;
	height: 50px;
	border: solid 1px #dddddd;
	border-radius: 5px;
	display: inline-block;
	float: left;
	/* 	background-image: url(https://gamewith.akamaized.net/article_tools/pricone-re/gacha/177_enemy.png); */
	background-size: contain;
	margin: 0rem 1rem;
}

#render-bossState .nowBossState .hpPerBox {
	display: inline-block;
	float: left;
	width: 200px;
	text-align: right;
	padding-top: 2px;
}

#render-bossState .nowBossState .hpPerBox .wave {
	float: left;
	font-size: 0.8rem;
	font-style: oblique;
	font-weight: bold;
	color: #2296f2;
	width: 100%;
	text-align: left;
}

#render-bossState .nowBossState .hpPerBox .hp {
	float: right;
	font-size: 0.8rem;
	color: #525252;
}

#render-bossState .nowBossState .hpPerBox .perProgress {
	width: 100%;
	height: 5px;
	background-color: #d0ead1;
	float: left;
}

#render-bossState .nowBossState .hpPerBox .perProgress>.successful {
	width: 50%;
	height: 5px;
	background-color: #4CAF50;
}

#render-bossState>.bossStateWrapLine {
	display: inline-block;
	float: left;
	border-bottom: solid 1px #00000021;
	padding: 5px 0px;
}

#render-bossState>.bossStateWrapLine:hover {
	box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 3px;
}

#render-bossState>.bossStateWrapLine>.emptyBox {
	width: 50px;
	height: 15px;
	border: solid 1px #ffffff;
	float: left;
	font-size: 0.7rem;
}

#render-bossState>.bossStateWrapLine>.emptyBox.title {
	top: 30px;
	position: relative;
}

#render-bossState>.bossStateWrapLine>.boss {
	width: 50px;
	height: 50px;
	border: solid 1px #dddddd;
	border-radius: 5px;
	float: left;
	/* 	background-image: url(https://gamewith.akamaized.net/article_tools/pricone-re/gacha/177_enemy.png); */
	background-size: contain;
	font-size: 0.5rem;
	color: white;
	line-height: 81px;
	text-align: center;
	font-weight: bold;
	text-shadow: #000000da 2px 0px 1px, #000000da -2px 0px 1px, #000000da
		0px -2px 1px, #000000da -2px 0px 1px, #000000da 2px 2px 1px, #000000da
		-2px 2px 1px, #000000da 2px -2px 1px, #000000da -2px -2px 1px,
		#000000da 1px 2px 1px, #000000da -1px 2px 1px, #000000da 1px -2px 1px,
		#000000da -1px -2px 1px, #000000da 2px 1px 1px, #000000da -2px 1px 1px,
		#000000da 2px -1px 1px, #000000da -2px -1px 1px, #000000da 1px 1px 1px,
		#000000da -1px 1px 1px, #000000da 1px -1px 1px, #000000da -1px -1px
		2px;
}

#render-bossState>.bossStateWrapLine>.nowState {
	width: 50px;
	height: 15px;
	border: solid 1px #ffffff;
	float: left;
	background-color: #2296f2;
	font-size: 0.5rem;
	color: white;
	text-shadow: 0px 0px 3px #0000009c;
	border-radius: 5px;
}

#render-bossState>.bossStateWrapLine>.outlook {
	width: 50px;
	height: 15px;
	border: solid 1px #ffffff;
	float: left;
	background-color: orange;
	font-size: 0.5rem;
	color: white;
	text-shadow: 0px 0px 3px #0000009c;
	border-radius: 5px;
}

/* 岸君の凸状態を表示 */
#render-kisiState {
	position: relative;

}

#render-kisiState .kisiTotuMemo input {
	outline: 0;
	width: calc(100% - 0px);
	height: 24px;
	font-size: 0.7rem;
	margin: 0px;
	padding: 0px;
	display: block;
	border-radius: 2px;
	border: none;
	/* box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 2px inset; */
	color: #3a1e6b;
	font-weight: bold;
}

#render-kisiState .kisiTotuMemo input:focus {
	box-sizing: border-box;
	position: absolute;
	z-index: 9999;
	box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 3px 2px, rgb(34, 150, 242) 0px
		0px 0px 1px, rgb(34, 150, 242) 0px 0px 0px 1px inset;
	border-radius: 0px;
	width: 500px;
}

#render-kisiState .kisiTotuMemo .tooltip {
	display: none;
	color: #fdfdfd;
	background-color: #4a4a4a;
	border-radius: 2px;
	position: absolute;
	font-size: 0.7rem;
	top: 0px;
	left: 151px;
	width: max-content;
	max-width: 200px;
	padding: 3px;
	z-index: 1;
	min-height: 0.7rem;
}

#render-kisiState .kisiTotuMemo.isShow:hover>.tooltip {
	display: block;
}

#render-kisiState .kisiTotuMemo .tooltip span {
	z-index: 1;
	word-break: break-all;
}

#render-kisiState .title .stateBox {
	display: inline-block;
	float: initial;
	width: initial;
	height: initial;
	padding: 0px 0.5rem;
	color: white;
	font-size: 0.8rem;
	color: white;
	font-size: 0.8rem;
	text-shadow: 0px 0px 1px #0000009c;
}

#render-kisiState .chkOption {
	text-align: left;
	font-size: 0.8rem;
}

#render-kisiState .totuDetail {
	display: none;
}

#render-kisiState .totuTimeKeiko {
	display: none;
}

.totuTimeKeiko-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 0.7rem;
}

.totuTimeKeiko-flex>* {
	width: 8%;
	background-color: blue;
	text-align: center;
	color: #fff;
}

.totuTimeKeiko-flex.time>* {
	width: 8%;
	background-color: #fff;
	text-align: center;
	border: 1px solid #aaaaaa;
	color: #222;
}

#render-kisiState>table tr td:nth-child(n + 4) {
	border-right: solid 1px #00000021;
}

#render-kisiState>table tr td:nth-child(3) {
	color: white;
	font-size: 0px;
}

#render-kisiState>table tr td:nth-child(4) {
	text-align: center;
	border-right: solid 2px #00000021;
}

#render-kisiState>table tr td:nth-child(5) {
	color: white;
	font-size: 0px;
}

#render-kisiState>table tr td:nth-child(6) {
	color: white;
	font-size: 0px;
}

#render-kisiState>table tr td:nth-child(7) {
	color: white;
	font-size: 0px;
}

#render-kisiState>table tr td:nth-child(8) {
	color: white;
	font-size: 0px;
}

#render-kisiState>table tr td:nth-child(9) {
	color: white;
	font-size: 0px;
	border-right: solid 2px #00000021;
}

#render-kisiState>table tr td:nth-child(n + 10) {
	color: white;
	font-size: 0rem;
}

#render-kisiState .stateBox {
	float: left;
	margin-right: 1px;
	width: 1rem;
	height: 1rem;
	background-color: orange;
}

#render-kisiState .stateBox.magic {
	background-color: #b869ce;
}

#render-kisiState .stateBox.trend {
	background-color: blue;
}

#render-kisiState .stateBox.half {
	float: left;
	margin-right: 1px;
	width: 0.5rem;
	height: 1rem;
}

#render-kisiState .stateBox.half.first {
	border-radius: 10px 0px 0px 10px;
}

#render-kisiState .stateBox.half.second {
	border-radius: 0px 10px 10px 0px;
}

/* 岸君の凸傾向を表示 */
#render-kisiTrend {
	position: relative;

}

#render-kisiTrend>table .stateBox {
	float: left;
	margin-right: 1px;
	width: 1rem;
	height: 1rem;
	background-color: blue;
}

#render-kisiTrend>table tr td:nth-child(n + 2) {
	border-right: solid 1px #00000021;
	color: white;
	font-size: 0rem;
}

/* 凸ジェネレーター */
#render-totuGenerator {

}

#render-totuGenerator .genBtn {
	background-color: #2296f2;
	padding: 0.2rem 1rem;
	margin-left: 0.5rem;
	color: #fafafa;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	border-radius: 3px;
	font-size: 0.7rem;
}

/* 岸君の凸先予想 */
#render-kisiNextExpected {
	position: relative;
}
/* 岸君の凸先予想 */
#render-kisiNextExpected .genBtn:hover {
	cursor: pointer;
	background-color: #6fb9f7;
}

#render-kisiNextExpected #kisiNextExpectedBoss {
	font-size: 0.5rem;
	margin-top: 1rem;
	table-layout: fixed;
}

#render-kisiNextExpected #kisiNextExpectedBoss tr td {
	width: 50px;
	display: inline-block;
}

#render-kisiNextExpected #kisiNextExpectedList ul {
	padding: 0px;
	width: 54px;
	list-style: none;
	float: left;
	font-size: 0.6rem;
	text-align: center;
	border: none;
	padding-bottom: 2rem;
}

#render-kisiNextExpected #kisiNextExpectedList ul li {
	background-color: #faa40340;
	list-style: none;
	border: none;
	padding: 1px;
	margin: 1px;
	flex-flow: nowrap;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 0em;
	cursor: pointer;
}

/* #render-kisiNextExpected #kisiNextExpectedList ul:nth-child(1) li {
	background-color: #2196f336;
	border-radius: 10px;
} */

/** 廃止**/
#render-kisiNextExpected .boss {
	width: 50px;
	height: 50px;
	border: solid 1px #dddddd;
	border-radius: 5px;
	background-size: contain;
}

#render-totuGenerator .genBtn:hover {
	cursor: pointer;
	background-color: #6fb9f7;
}

#render-totuGenerator #totuGeneratorTable {
	font-size: 0.8rem;
	margin-top: 1rem;
}

#render-totuGenerator #totuGeneratorTable tr td:nth-child(n + 2) {
	background-color: #ffebc6;
	border-right: solid 1px white;
}