html, body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	-webkit-appearance: none;
	font-family: "HiraKakuProN-W3", sans-serif;
}

div#main-contents {
	display: inline-block;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 3px;
	z-index: 9000;
	width: 100%;
	display: inline-block;
}


.error.contents {
	display: none;
	color: #ff0000;
	background-color: #ffebeb;
}

header>.button {
	height: 2rem;
	float: left;
	background-color: #FFFFFF;
	line-height: 1.8rem;
	padding: 0rem 1rem;
	margin-left: 0.5rem;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

header>.button:hover {
	cursor: pointer;
	box-sizing: border-box;
	border-bottom: solid 2px #2196F3;
}

header>.button.version {
	height: 2rem;
	float: left;
	background-color: #009688;
	line-height: 30px;
	padding: 0rem 2rem;
	margin-left: 0.5rem;
	color: white;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	transform: skewX(-30deg);
	position: relative;
	left: -24px;
}

header>.button.version span {
	transform: skewX(30deg);
	display: inline-block;
}

header>.button.version:hover {
	background-color: #009688e8;
}

header>input {
	height: 2rem;
	float: left;
	padding: 0rem 1rem;
	margin-left: 0.5rem;
	border: none;
}

header>input:hover {
	cursor: pointer;
	box-sizing: border-box;
	border-bottom: solid 2px #2196F3;
}

.simple-table {
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
	border: 1px solid #ccc;
	font-size: 0.7rem;
	width: 100%;
}

.simple-table tr {
	font-weight: bold;
	border: 1px solid #ccc;
}

.simple-table th {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.simple-table td {
	border-bottom: 1px solid #ccc;
}