html, body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	-webkit-appearance: none;
	min-width: 800px;
}
div#main-contents{
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0px; /*ここで止める位置を調整する*/
	background-color: #343434;
	height: 2rem;
	z-index: 9000;
}

.error {
	display: none;
	color: #ff0000;
	background-color: #ffebeb;
}

header>.button {
	height: 2rem;
	float: left;
	background-color: #aaaaaa;
	padding: 0rem 1rem;
	margin-left: 0.5rem;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

header>input{
	height: 2rem;
	float: left;
	background-color: #aaaaaa;
	padding: 0rem 1rem;
	margin-left: 0.5rem;
	border: none;
}

header>.button:hover {
	background-color: #dddddd;
	cursor: pointer;
}
