#modal {
	display: none;
	position: fixed;
	z-index: 9002;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

#modal_content {
	width: 500px;
	background: #fff;
	margin: 15% auto;
	padding: 10px;
	position: relative;
	display: table;
	box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 3px;
	border: solid 1px #dddddd;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 0 3px 1px #9a9485 inset, 0 0 0 2px #ffcd3d, 0 -1px 0px 2px
		#ffffff, 0 4px 20px 0px #000000;
	background-color: #ffffff;
	background-size: 40px 40px;
	background-image: linear-gradient(45deg, #fbfbfbab 25%, #fbfbfbab 25%, transparent 25%,
		transparent 75%, #fbfbfbab 75%, #fbfbfbab 75%),
		linear-gradient(-45deg, #fbfbfbab 25%, #fbfbfb 25%, transparent 25%,
		transparent 75%, #fbfbfb 75%, #fbfbfb 75%);
}

#modal_detail {
	width: 100%;
	margin: 0.5rem 0px;
	padding: 10px 0px;
	position: relative;
	display: table;
	text-align: left;
}

#modal_detail .title {
	display: block;
	border: none;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	text-align: center;
}

#modal_detail span {
	display: block;
	border-bottom: solid 3px #2196F3;
	margin-bottom: 0.5rem;
}

#modal>#modal_content>.button {
	height: 2rem;
	float: right;
	margin: 0.5rem;
	background-color: #d0cece;
	padding: 0rem 1rem;
	margin-left: 1rem;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	border-radius: 3px;
	border: none;
}

#modal>#modal_content>.button:hover {
	background-color: #dddddd;
	cursor: pointer;
}