body {
	padding: 0;
	margin: 10px;
}

div#main-contents {
	margin: 0 auto;
	max-width: 1050px;
}

input[type="text"], input[type="password"], textarea, select, button {
	outline: none;
}

input[type="time"] {
	height: 29px;
	border-radius: 3px;
	border: 1px solid rgba(34, 36, 38, .15);
	padding-top: 2px;
}

label.charChk {
	cursor: pointer;
	padding: 5px;
	border: 1px solid rgba(34, 36, 38, .15);
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.charChk {
	display: none;
}

.charChk:checked+label.charChk {
	background-color: orange;
}

.button-init, .button-export {
	width: 100%;
}

.prcn-img {
	cursor: pointer;
}

.prcn-img:hover {
	opacity: 0.8;
	transform: scale(0.98);
}

.ui.fluid.search.dropdown {
	height: 4em;
}

.ui.dropdown.selection {
	min-width: 100%;
}

.img-txt {
	text-align: left !important;
	margin-bottom: 1px !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
}

dialog#char-select {
	padding: 0;
	border: 0;
	border-radius: 0.6rem;
	box-shadow: 0 0 1em black;
	max-width: 900px;
}

dialog#char-select::backdrop {
	/* 背景を半透明のブラックにする */
	background-color: rgba(0, 0, 0, 0.4);
}

dialog#char-select>div>div>input[type="radio"] {
	display: none;
}

dialog#char-select>div>div>input[type="radio"]+label {
	position: relative;
	margin: 2px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	border-radius: 3px;
	opacity: 0.8;
	cursor: pointer
}

dialog#char-select>div>div>input[type="radio"]+label:hover {
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	box-shadow: 0 1px 4px #000000;
	opacity: 1;
}

dialog#char-select>div>div>input[type="radio"]:checked+label {
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	box-shadow: 0 1px 4px #000000;
	transform: scale(1.1);
	opacity: 1;
}

.sortable-chosen {
  color: #fff;
  background-color: #edb54c;
}